.block{
    display: block;
    background-color: blue;

}
.inline{
    display: inline;
    background-color: aqua;
    padding:4px;
    margin-right: 20px;


}
.inline-block{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: red;
    margin-top:20px;
}